/*Default settings*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

body{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #000;
    line-height: 1.3;
    min-width: 1200px;
}

a{text-decoration: none;}

.container{
    position: relative;
    margin: 0 auto;
    padding: 50px 30px;
}

input [type=submit]{cursor: pointer;}
/*Default settings*/

/*PRODUCT-LIST-PAGE*/
.product-wrapper{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.product-item{
    display: block;
    text-align: center;
    width: 32%;
    margin-right: 2%;
    border: 2px solid #eee;
    border-radius: 8px;
    background-color: #fafafa;
    float: left;
    height: 150px;
    padding: 15px 5px;
}

.product-item:nth-child(3n){ margin-right: 0;}

.product-item:nth-child(n+4){margin-top: 2%;}

.product-item:hover{background-color: #eeeeee;}

.product-sku{
    line-height: 1;
    padding-bottom: 5px;
    font-size: 1.08em;
    color: darkblue;
    position: relative;
}

.product-sku input[type=checkbox]{
    position: absolute;
    top: 0;
    left: 15px;
}

.delete-form .input-row:last-child{text-align: center;}

.product-name{
    line-height: 1;
    padding-bottom: 5px;
    font-size: 1.25em;
    font-weight: 600;
    color: #000;
}

.product-price{
    line-height: 1;
    padding-bottom: 5px;
    font-size: 1.25em;
    color: darkgreen;
}

.product-attributes{
    font-size: 1.08em;
    color: #000;
}

.product-attributes span{display: block;}

.product-attributes span:not(:last-child){padding-bottom: 3px;}

.page-heading{
    text-align: center;
    line-height: 1;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 15px;
}
/*PRODUCT-LIST-PAGE*/

/*Form*/
.edit-form input[type=text],
.edit-form select{
    font-size: 1.25em;
    line-height: 1;
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 5px 15px;
    width: 350px;
}

.edit-form input[type=submit]{
    border-radius: 4px;
    font-size: 1.25em;
    text-transform: uppercase;
    height:30px;
    padding: 5px 15px;
    width: 350px;
    text-align: center;
    color: #fff;
    background-color: darkgreen;
}

.edit-form .input-row:not(:last-child){margin-bottom: 10px;}

.add-form{
    width: 450px;
    text-align: center;
    margin: 0 auto;
}

.for-book,
.for-furniture,
.for-disc{display: none;}

.for-book.active,
.for-furniture.active,
.for-disc.active{display: block;}

.describe-text{
    display: block;
    width: 350px;
    margin: 5px auto 0;
    font-size: 1.16em;
}

.error-msg{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 1.25em;
    color: red;
    line-height: 1;
}
/*Form*/

/*BUUTON*/
.btn-wrapper{
    text-align: center;
    padding-top: 15px;
    line-height: 1;
}

.btn{
    line-height: 1;
    color: #fff;
    font-size: 1.25em;
    background-color: green;
    border-radius: 8px;
    padding: 5px 15px;
    display: inline-block;
}

.btn:hover{background-color: darkgreen;}
/*BUUTON*/

/*RESPONSIVE-BLOCK*/
@media (max-width: 1200px) {
    body{min-width: 100%;}
}

@media (max-width: 640px) {
    .product-item{
        width: 49%;
        margin-right: 2%;
    }

    .product-item:nth-child(2n){margin-right: 0;}

    .product-item:nth-child(3n){margin-right: 2%;}

    .product-item:nth-child(n+3){margin-top: 2%;}
}

@media (max-width: 460px) {
    .add-form{
        width: 100%;
    }
}

@media (max-width: 405px) {
    .product-item{
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .product-item:nth-child(n+2){margin-top: 2%;}
}

@media (max-width: 360px) {
    .edit-form input[type=text],
    .edit-form input[type=submit],
    .edit-form select{width: 100%;}
}
/*RESPONSIVE-BLOCK*/